@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font names 
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
 */
 /* color->#000000 | #8D8D8D | #0000FF | #FFFFFF */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999;
    /* background-color: #07262e; */
}
.topbar{
    
}
.container{
    width: 1100px;
    margin: auto;
}
.topbarWrap{
    display: flex;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(230, 228, 228);
}
.topbarWrap .topbarLeft{
    width: 10%;
}
.topbarWrap .topbarLeft .logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbarWrap .topbarLeft .logo h1{
    font-size: 23px;
    color: #f1eeee;
}
.topbarWrap .topbarRight{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.topbarWrap .topbarRight ul{
    display: flex;
    list-style-type: none;
    
}
.topbarWrap .topbarRight ul li{
    padding: 14px;
    color: #8d8d8d;
    font-weight: 500;
}
.topbarWrap .topbarRight ul li:hover{
    color: #ffffff;
    border-radius: 5px;
    
}
.cstomCarosel{
    height: 650px;
    width: 105%;
    position: relative;
}
.cstomCarosel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000B3;
}
.customPegination{
    display: flex;
    align-items: center;

}
.customPegination .pegeNum{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 5px solid #8d8d8d;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
    border-bottom: 5px solid #0000ff; */
    border: 5px solid #8d8d8d;
    margin-right: 15px;
    border-radius: 50%;
}
.customPegination .pegeNum b{
    font-size: 25px;
    color: #ffffff;
}
.customPegination .pegeDesc{
    
}
.customPegination .pegeDesc p{
    color: #8d8d8d;
    font-family: 'Work Sans', sans-serif;

}
.customPegination{
    
}

.homeWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home-peganation{
    position: absolute;
    bottom: 30px;
    
}

.center .customPegination .pegeNum{
    border-left: 5px solid #8d8d8d;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
    border-bottom: 5px solid #0000ff;
    
}
.postContentArea{
    width: 760px;
}
.center .customPegination .pegeDesc p{
    color: #ffffff;
}

.nav{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 10px 0;
    box-shadow: 0px 2px 0px rgb(242, 236, 236);
}
.title{
    margin-right: auto;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.nav-item{
    margin: 10px;
    font-size: 16px;
    color: #8d8d8d;
    /* font-family: 'Ubuntu', sans-serif; */

}
.nav-item:hover{
    color: #000000;
}
.blogPostinner{
    width: 350px;
}
.singlePostItem{
    width: 350px;
    box-shadow: 1px 2px 5px #dddd;
    padding: 10px;
}
.singlePostItem img{
    width: 100%;
    height: 220px;
}
.postDescWrap{
    padding-bottom: 1cqw;
}
.singlePostItem h3{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    padding: 10px 0;
}
.singlePostItem .desc{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;

}
.postownarandtime{
    padding: 20px 0;
    color: #8d8d8d;
    font-size: 15px;
    /* background-color: red; */
}
.postownarandtime a{
    color: #8d8d8d;
    text-decoration: none;
}
.owl-nav{
    position: absolute;
    bottom: -50px;
}
.owl-nav .owl-prev{
    width: 50px;
    height: 50px;
    background-color: red;
    color: blue;
    font-size: 25px;
    z-index: 2;
}



